<%- include("./partial/header") %>
<div class="container">
<center><h3>ADD CATEGORY</h3></center>
<form action="/addcategory" method="post">
    <div class="form-group">
       <label>Category</label>
        <input class="form-control" type="text" placeholder="Enter Category" name="title" required>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href ='/adminpanel';">Save</button>
        <button class="btn btn-lg btn-danger btn-block"  onclick="window.location.href = '/adminpanel';">Cancel</button>
    </div>
</form>
</div>
