<%- include("./partial/header") %>
<div class="container">
<div class="sidenav">
<h1 class="text-left  m-2 ">Control Panel</h1><br>
<a class="btn btn-info pm-2" href="/allblog">All Blog </a><br><br>
<a class="btn btn-info " href="/allcategory">All Category</a><br><br>
<a class="btn btn-info" href="/addblog/new">Add New Blog</a><br><br>
<a class="btn btn-info" href="/addcategory">Add New Category</a>
</div>
</div>
<%- include("./partial/footer") %>

