<%- include("./partial/header") %>

<div class="container">
    <center>
<h3>All Blogs</h3><br>
<table class="rounded-circle">
    <tr>
        <th><center>Title</center></th>
        <th><center>Category</center></th>
        <th><center>Description</center></th>
        <th><center>Action</center></th>
    </tr >
    </center><br>
    <% blogs.forEach(function(blogs){ %>
    <tr>
        <td> <a href="/show/<%=blogs.titleSlug%>"><%= blogs.title  %></a></td>
        <td class="p-4"><%= blogs.category %></td>
        <td><%= blogs.detail.substr(0,20) %></td>
        <td><a class="btn btn-info m-2" href="/editblog/<%=blogs.id%>">&nbsp; Edit &nbsp;</a>
        <a class="btn btn-danger" href="/delete/<%=blogs.id%> ">Delete</a></td>
    </tr>
 <% }); %>
</table>
</center>
</div>

<%- include("./partial/footer") %>
