<%- include("./partial/header") %>

<div class="container">
    <center>
<h3>All Categories</h3>
<br>
<table class="rounded-circle">
 
    <tr>
        <th><center>Category</center></th>
        <th><center>Action</center> </th>
    </tr>
    <% categories.forEach(function(category){ %>
        
        <td class="p-1"><%= category.title %></td>
        <td>
        <a class="btn btn-info m-2" href="/editcategory/<%= category._id %>">&nbsp; Edit &nbsp;</a>
        <a class="btn btn-danger" href="/delete/category/<%=category.id%>">Delete</a>
        </td>
    </tr>
 <% }); %>
</table>
</center>
</div>

<%- include("./partial/footer") %>
