<%- include("./partial/header") %>

<center><h1> EDIT BLOG </h1></center> 
<div class="container">
    <form action="/editblog/<%=Blog._id%>?_method=PUT" method="post">
    <div class="form-group">
      <label> Enter Title </label> 
       <input class="form-control" type="text" placeholder="Enter Title" name="title" value="<%=Blog.title%>">
    </div>
   <div class="form-group">
       <label> Enter Image </label>
       <input class="form-control" type="text" placeholder="Enter Image" name="image" value="<%= Blog.image %>" required>
   </div>
    
   <div class="form-group" >
      <label>Select Category</label><br>
      <select name="Category" required>
         <% categories.forEach(function(category){ %>
            <option value="<%=category.title%>"><%=category.title%></option>
         <% })%>
      </select>
   </div>
      <div class="form-group">
         <label>Enter Details</label>
         <textarea class="form-control" placeholder="Enter Details" rows="5" id="detail" name="detail"><%=Blog.detail%></textarea>
      </div>
       <br>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" onclick="window.location.href ='/adminpanel';" >Submit!</button>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-danger btn-block" onclick="window.location.href ='/adminpanel';">Cancel</button>
  </div>
</form>
<br>
<br>
