<%- include("./partial/header") %>
<div class="container">
<center><h3>EDIT CATEGORY</h3></center>
<form action="/editcategory/<%=categories._id%>?_method=PUT" method="post">
    <div class="form-group">
       <label class="abc">Category</label>
        <input class="form-control" type="text" placeholder="Enter Category" name="title" value="<%= categories.title %>" required>
    </div>
    <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block" >Save</button>
        <button class="btn btn-lg btn-danger btn-block" >Cancel</button>
    </div>
</form>
</div>

