<%- include("./partial/header") %>

<style>
.pa
{
    margin-top: 100px;
}
</style>

<center>
  <div class="uk-flex uk-flex-column uk-flex-middle uk-flex-center uk-height-viewport uk-width-1-1">
    <h1 class="uk-heading-large uk-text-bold uk-margin-small-bottom pa">404</h1>
    <p class="uk-text-large uk-text-center "><b>Blog not Found</b>  <br> 
    <p class="uk-text-large uk-text-center"><b>Click below to redirect Homepage</b></p>
    <a href="/">Homapage</a></p>
  </div>
</center>

<%- include("./partial/footer") %>
