<%- include("./partial/header") %>

  <%blogs && blogs.forEach(function(blogs){ %>
      <div id="abc" class="container custom-card">
         <div class="card mb-3">
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <img src="<%= blogs.image %>" class="card-img" alt="">
                <div class="card-body">
                  <h3 class="m-1 float-sm-left "><%= blogs.title %></h3>
                  <h5 class="m-1 float-sm-right "><%= blogs.created.toDateString() %></h5><br>
                  <h3 class="float-sm-"><span style="color: blue;">#<%= blogs.category %></span></h3>
                  <h5 class="card-text"><%= blogs.detail.substr(0,800)%>..........</h5> 
                  <a href="/show/<%=blogs.titleSlug%>" class="btn btn-primary p-6">More Info</a>
                </div>
              </div>
            </div>
          </div>
      </div>

  <% }); %> 

  <%- include("./partial/footer") %>

 


