<%- include("./partial/header") %>

<h1><%= message %></h1>
<center><h1>SIGN IN </h1></center> 

<div class="container">
    <form action="/login" method="POST">
        
    <div class="form-group">
        <label>Enter Username</label>
    <input class="form-control" type="text" placeholder="Enter Username" name="username">
    </div>

    <div class="form-group">
        <label>Enter Password</label>
    <input class="form-control" type="password" placeholder="Enter Password" name="password">
    </div>

    <div class="form-group">
        <button class="btn btn-lg btn-success btn-block" >Signin</button>
    </div>
    
    </form>
</div>

<%- include("./partial/footer") %>
<<<<<<< HEAD
=======

>>>>>>> cc6927da01c24e6260d36659108e077349005b88
