<%- include("./partial/header") %>

<center><h1> SIGN UP </h1></center> 

<div class="container">
    <form action="/register" method="POST">

    <div class="form-group">
        <label>Enter Name</label>
       <input class="form-control" type="text" placeholder="Enter Name" name="username">
    </div>

    <div class="form-group">
        <label>Enter Password</label>
         <input class="form-control" type="password" placeholder="Enter Password" name="password">
    </div>

    <div class="form-group">
        <button class="btn btn-lg btn-success btn-block" >Signup</button>
    </div>
  
    </form>
</div>

<%- include("./partial/footer") %>
