<%- include("./partial/header") %>

<div class="container ">
    <div class="card mb-3">
       <div class="row">
         <div class="col-md-12 col-lg-12">
         <center> <img src="<%= blogs.image %>" class="card-img" alt=""></center>
           <div class="card-body">
          <center><h3 class="m-1 float-sm-center"><%= blogs.title %></h3></center>
            <h5 class="m-1 float-sm-right ">Posted on:  <%= blogs.created.toDateString() %></h5><br>
             <h3 class="card-title"><span style="color: blue;">#<%= blogs.category %></span></h3>
             <h4 class="card-title"><%- blogs.detail %></h4>

       <center> <a href="/" class="btn btn-primary">Go Back</a></center>     
             </div>
            </div>
         </div>
    </div>
</div>

<%- include("./partial/footer") %>

