<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BLOGSITE</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js">
  </script>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div class="">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a aria-busy="true" class="navbar-brand logo" href="/"><span style="color: white;"><marquee behavior="Slide" direction="down">BLOGSITE</marquee> </span></a>
        
           <% if(!currentUser){ %>
            <ul class="navbar-nav "></ul>
            <button class="btn btn-outline-success m-1"> <a class="nav-link" href="/login">Login</a></button>
            <button class="btn btn-outline-success m-1"> <a class="nav-link" href="/register">Register</a></button>
            <form action="/search" method="GET" class="form-inline">
            <input class=" form-control" name="search" type="text" id="searchFormInput" placeholder="Blog Search" aria-label="Search">
            <input class="btn btn-outline-success m-3 " value="Search" type="submit">
            </ul>
          </form>
           <%  }else { %>
            
            <a class="btn btn-primary m-2" href="#">Welcome <%= currentUser.username %></a>
            <a class="btn btn-info m-2" href="/adminpanel">Back To Control Panel</a>
            <a class="btn btn-danger" href="/logout">Logout</a>
            
            
          
               <%   } %>
<!--       
      <input class=" mr-sm-3" type="text" id="searchFormInput" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0">Search</button> -->
    </nav>
    <div class="container text-center mt-2">
      <% if(error && error.length>0){ %>
      <div class="alert alert-danger" role="alert">
      <%= error %>
      </div>
      <% } %>
    </div>

    <div class="container text-center mt-2">
      <% if(success && success.length>0){ %>
      <div class="alert alert-success" role="alert">
      <%= success %>
      <% } %>
      </div>
    </div>
